<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started</title>
    <link href="stylesheets/styles2.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">


        <p>Let's get started!</p>

        <form>
            <input placeholder="Credit Card number">
            <button>Add</button>
            <button id="delete_button">Delete</button>
            <button id="view_button">View</button>
        </form>
        <p>Your table</p>
        <p id="print">Hey looks like you did not enter anything yet</p>
    </div>
    <script src="/javascripts/app_frontend.js"></script>
</body>
</html>