<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started</title>
    <link href="stylesheets/styles2.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">


        <p>Let's get started!</p>

        <form>
            <input placeholder="Credit Card number">
            <button>Add</button>
            <button id="delete_button">Delete</button>
            <button id="view_button">View</button>
        </form>
        <p>Your table appears below</p>
        <p id="print">Add some input, click add to add that to your database. Clicking remove while having input in the box removes that input from the database. Click view to view the updated database</p>
    </div>
    <script src="/javascripts/app_frontend.js"></script>
</body>
</html>