<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
    <p>Welcome to Pied Piper</p>
    <a href="https://pied-piper-ary.herokuapp.com/gettingstarted">Let's get started!</a>
    </div>
    <img src="/public/images/bg_index.jpeg">
    <script src="/javascripts/app_frontend.js"></script>
</body>

</html>